{% extends 'base.html' %}

{% block content %}
<h1>Select a Team</h1>
<form action="/schedule" method="get">
    <label for="team-select">Choose a team:</label>
    <select id="team-select" name="team_id">
        {% for team in teams %}
            {% if team.conference == "SEC" or team.conference == "Big 12"
            or team.conference == "Mountain West" or team.conference == "Mid-American"
            or team.conference == "Big Ten" or team.conference == "Pac-12" or team.conference == "Sun Belt"
            or team.conference == "FBS Independent" or team.conference == "ACC" or team.conference == "American"
            or team.conference == "Conference USA" or team.name == "UAB"%}
                <option value="{{ team.id }}">{{ team.name }} ({{team.abbreviation}}) ({{ team.conference }})</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="View Schedule">
</form>
{% endblock %}
